.training {
  position: relative;
  &__button {
    position: absolute;
    top: 1vh;
    right: 1vw;
    padding: 5px 10px;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: orange;
      color: white;
    }
  }
  &__exercise {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
