.diet-element {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80vw;
  margin: 2vh auto;
  padding: 3vh;
  align-items: center;

  &__date {
    flex-basis: 20%;
  }
  &__nutrients {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    // background-color: yellow;
    flex-basis: 80%;
  }
}
