@import "styles/mixins";
.eaten-calories {
  margin: 2vh 0;
  &__title {
    font-weight: bold;
  }
  &__calories {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1vh 0;
  }

  &__p {
    color: $font-color-accent;
    padding-top: 8px;
    text-decoration: unset;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__a {
    text-decoration: unset;
    color: $font-color-accent;
    animation: animate-preloader 1.5s infinite alternate;
    &:hover {
      text-decoration: underline;
    }
  }
}
