@import "utils/mixins";
.measurement {
  margin-top: 77px;
  padding-top: 2vh;
  text-align: center;

  &__table {
    margin-top: 5vh;
    margin: 0 auto;
    font-size: 0.7rem;
    @media (min-width: 360px) {
      font-size: 0.8rem;
    }
  }
  &__tbody {
    tr:nth-child(odd) {
      background-color: $steelblue;
      td {
        button {
          background-color: $steelblue;
        }
      }
    }
    tr:nth-child(even) {
      background-color: $goldenrod;
      td {
        button {
          background-color: $goldenrod;
        }
      }
    }
  }
  &__th,
  &__td {
    box-sizing: border-box;
    min-width: 32px;
    padding: 1vh 1vw;
    border: 1px solid white;
    @media (min-width: 360px) {
      min-width: 42px;
    }
    &:nth-child(1) {
      min-width: 72px;
    }
    @media (min-width: 640px) {
      padding: 2vh 2vw;
    }
  }
  &__td {
    text-align: center;
  }
}
