.chart {
  padding: 2vh 1vw;
  margin: 0 0 5vh 0;
  &__h1 {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }
  &__canvas {
    margin: 0 auto;
    padding: 2vh 0;
    max-width: 800px;
    max-height: 500px;
  }
}
