@import "./../../../../../../utils/variables";
.meal-table {
  width: 96%;
  margin: 5vh auto;
  font-size: 0.6rem;
  max-width: 1100px;
  &:nth-of-type(even) {
    background-color: $goldenrod;
    tbody {
      tr {
        td {
          button {
            &:hover {
              background-color: $goldenrod;
            }
          }
        }
      }
    }
  }
  &:nth-of-type(odd) {
    background-color: $steelblue;
    tbody {
      tr {
        td {
          button {
            &:hover,
            &:focus {
              background-color: $steelblue;
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    font-size: 0.9rem;
  }
  &__tr {
    &:nth-last-child(1) {
      font-weight: bold;
      td {
        box-sizing: border-box;
        button {
          font-size: 0.6rem;
          @media (min-width: 768px) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  &__th {
    padding: 2vh 1vw;
    @media (min-width: 768px) {
      padding: 1vh 2vw;
    }
    &:nth-child(1) {
      text-align: left;
    }
    &:nth-last-child(1) {
      svg {
        transform: translateY(5px);
        cursor: pointer;
      }
    }
    &:nth-child(1) {
      @media (min-width: 768px) {
        min-width: 170px;
      }
    }
  }
  &__td {
    padding: 2vh 0vw;
    input {
      width: 22px;
      font-size: 0.6rem;
      @media (min-width: 768px) {
        width: 40px;
        font-size: 0.9rem;
      }
    }
    &:nth-child(1) {
      padding-left: 10px;
      text-align: left;
      input {
        width: 50px;
        @media (min-width: 768px) {
          width: 150px;
        }
      }
    }
    &:nth-last-child(2) {
      input {
        width: 25px;
        @media (min-width: 768px) {
          width: 40px;
        }
        @media (min-width: 768px) {
          width: 47px;
        }
      }
    }
  }
  &__span {
    padding: 1vh 0;
    display: block;
    color: red;
  }
  &__tbody {
    tr {
      background-color: white;
      &:nth-last-child(1) {
        background-color: unset;
      }
    }
  }
  &__save {
    fill: green;
    cursor: pointer;
  }
  &__remove {
    fill: red;
    cursor: pointer;
  }
}
