@import "styles/mixins";
.button {
  padding: 5px 10px;
  font-weight: bold;
  background-color: $bg-color-main;
  border: 2px solid $font-color-accent;
  border-radius: 4px;
  color: $font-color-accent;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $font-color-accent;
    color: $bg-color-main;
  }
}
