@import "./../../../../../../../../utils/variables";
.eaten-calories {
  margin: 2vh 0;
  &__title {
    font-weight: bold;
  }
  &__calories {
    margin: 1vh 0;
  }

  &__a {
    text-decoration: unset;
    color: $goldenrod;
    &:hover {
      text-decoration: underline;
    }
  }
}
