@import "styles/mixins";
.background-image {
  position: relative;
  background: url("../../../../../../images/home-page-background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: calc(100vh - 77px);

  &__div {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: 640px) and (orientation: landscape) {
      width: unset;
      top: 50%;
      left: 10%;
      transform: translate(0, -50%);
    }
  }
  &__h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: $font-color-accent;
  }
  &__p {
    color: $font-color-main;
    margin: 16px 0 32px 0;
  }
  button {
    background-color: transparent;
    color: $font-color-accent;
    text-transform: uppercase;
  }
}
