@import "styles/mixins";
.training-exercise-list {
  &__ul {
    padding-bottom: 16px;
  }
  &__exercise {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $font-color-accent;
    border-radius: 16px;
    padding: 8px 16px;
    max-width: 600px;
    margin: 8px;
    min-height: 48px;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    cursor: pointer;
    @media (min-width: 640px) {
      margin: 8px auto;
      min-height: unset;
    }
    @media (min-width: 1024px) {
      margin: 16px auto;
    }
  }
  &__workout-name {
    width: 55%;
    @media (min-width: 640px) {
      width: 65%;
    }
  }
  &__series-div {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 640px) {
      width: 35%;
    }
  }
  &__series {
    font-size: 12px;
    margin: 2px 4px;
  }
}
