@import "utils/mixins";
.training-exercise-list {
  &__exercise {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $orange;
    border: 8px solid $white;
    border-radius: 16px;
    padding: 8px 16px;
    max-width: 600px;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
    cursor: pointer;
  }
  &__workout-name {
    width: 45%;
  }
  &__series-div {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
  }
  &__series {
    padding: 4px;
    font-size: 0.8rem;
    margin: 2px 8px;
    border-radius: 4px;
  }
}
