@import "./../../../../utils/variables";
.mealSummary {
  width: 96%;
  margin: 5vh auto;
  background-color: $salmon;
  color: white;
  font-size: 0.6rem;
  max-width: 1100px;
  @media (min-width: 768px) {
    font-size: 0.9rem;
  }
  &__tr {
    border-bottom: 1px solid white;
    &:nth-last-child(1) {
      font-weight: bold;
    }
  }
  &__td {
    padding: 2vh 0.5vw;
    min-width: 51px;
  }
  &__above-zero {
    color: green;
  }
  &__below-zero {
    color: red;
  }
  &__th {
    padding: 2vh 0.5vw;
    @media (min-width: 768px) {
      padding: 1vh 2vw;
    }
    &:nth-child(1) {
      @media (min-width: 768px) {
        min-width: 170px;
      }
    }
  }
  &__tfoot {
    tr {
      border: unset;
      th {
        padding: 2vh 1vw;
      }
    }
  }
}
