@import "utils/mixins";
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  transform: scale(0.7);
  :hover {
    opacity: 0.7;
  }
}
.hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: $white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  &__before,
  &__after {
    display: block;
    width: 40px;
    height: 4px;
    background-color: $white;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  &__before {
    top: -10px;
  }
  &__after {
    bottom: -10px;
  }
}
.is-active-hamburger {
  div:nth-child(1) {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
  }
  div:nth-child(2) {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
  }
}
