@import "./../../../../../../../../utils/variables";
.today-trainings {
  margin: 2vh 0;
  &__title {
    font-weight: bold;
  }
  &__trainings {
    margin: 1vh 0;
  }
  &__unset {
    margin: 1vh 0;
  }
  &__a {
    text-decoration: unset;
    color: $goldenrod;
    &:hover {
      text-decoration: underline;
    }
  }
}
