@import "./../../../../../../utils/variables";
.diet-element {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2vh 5vw;
  padding: 1vh 0 1vh 2vw;
  align-items: center;
  font-size: 0.8rem;
  border-radius: 10px;
  color: white;
  &:nth-child(even) {
    background-color: $salmon;
  }
  &:nth-child(odd) {
    background-color: $goldenrod;
  }
  @media (min-width: 768px) {
    font-size: 1rem;
    width: 70%;
    margin: 2vh auto;
  }
  &__date {
    font-weight: bold;
    flex-basis: 20%;
    text-align: center;
    margin-right: 5vw;
  }
  &__nutrients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-basis: 80%;
  }
}
