@import "utils/mixins";
.trainings {
  &__h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 2vh 0;
  }
  &__table {
    margin: 0 auto;
  }
  &__tr {
    background-color: orange;
    border: 10px solid white;
  }
  &__th {
    padding: 1vh 2vw;
  }
  &__button {
    padding: 0.5vh 0.25vw;
    font-size: 1rem;
    background-color: unset;
    border: unset;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
