@import "utils/mixins";
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__item {
    max-width: 640px;
    background: $black;
    color: $white;
    font-size: 0.9rem;
    padding: 8px 16px;
    margin: 1vh 0;
    text-align: center;
    border-radius: 8px;
  }
}
