.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__item {
    width: 220px;
    background: black;
    color: #fff;
    font-size: 0.9rem;
    padding: 1vh 1vw;
    margin: 1vh 0;
    text-align: center;
    border-radius: 4px;
  }
}
