$white-background: oldlace;
$light-grey: #d5d4d5;
$dark-grey: #5c5d60;
$light-red: #f01e05;
$dark-red: #aa210d;
$brown: #5c170c;
$light-blue: #5b71b1;
$dark-blue: #293653;
$black: #08090a;
$orange: orange;
$salmon: #eb7662;
$goldenrod: #f2982f;
$steelblue: #327389;
