$white-background: rgba(255, 165, 0, 0.1);
$white: #ffffff;
$light-grey: #d5d4d5;
$dark-grey: #5c5d60;
$light-red: #f01e05;
$black: #08090a;
$orange: rgb(255, 165, 0);
$salmon: #eb7662;
$goldenrod: #f2982f;
$steelblue: #327389;
