$white-background: rgba(255, 165, 0, 0.1);
$light-grey: #d5d4d5;
$light-red: #f01e05;
$black: #08090a;
$salmon: #eb7662;
$goldenrod: #f2982f;
$steelblue: #327389;
$bg-color-main: #0b0c10;
$bg-color-accent: #1f2833;
$font-color-main: #c5c6c7;
$font-color-accent: #66fcf1;
$default-color: #45a29e;
