@import "styles/mixins";
.exercise {
  position: relative;
  margin-top: 77px;
  padding-bottom: 5vh;
  &__h2 {
    margin-top: 5vh;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
  }
  &__h3 {
    margin-top: 2vh;
    text-align: center;
    font-weight: bold;
  }
  &__div {
    display: flex;
    margin: 2vh 1vw;
    justify-content: center;
    text-align: center;
  }
  &__label {
    width: 100px;
  }
  &__input {
    width: 30px;
  }
  &__p {
    min-width: 140px;
    margin-left: 4vw;
  }
  &__minus {
    padding: 0 2vw;
    margin: 0 1vw;
    cursor: pointer;
    user-select: none;
  }
  &__plus {
    padding: 0 2vw;
    margin: 0 1vw;
    cursor: pointer;
    user-select: none;
  }
}
